# This is an example file. Copy this to .env and fill in your own values.

# Airflow user ID for file permissions
AIRFLOW_UID=50000

# Google Cloud Project configuration
AIRFLOW_VAR_GCP_CONN_ID=your-gcp-connection-id
AIRFLOW_VAR_PROJECT_ID=your-gcp-project-id-here
AIRFLOW_VAR_TOPIC_ID=projects/your-gcp-project-id-here/topics/your-pubsub-topic-name
AIRFLOW_VAR_BQ_DATASET_NAME=your_bigquery_dataset_name
AIRFLOW_VAR_BQ_TABLE_WEATHER_RAW_DATA=your_bigquery_table_name